/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oranienbaum&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; 
}

/* navbar */

nav{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

li , a {
    list-style: none;
    color: #fff;
    font-family: "Oranienbaum", serif;
    font-size: 26px;
    text-decoration: none;
}

/* estilo do inicio da pg */

header {
    background-image: url(/src/img/fundo-abstrato-tinta-mascararondas-azuis.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

/* mascara para escurecer o gif */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 3;
}

section > h1 {
    color: #fff;
    font-size: 64px;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    padding-bottom: 30px;
}

section > h4 {
    color: #fff;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-bottom: 80px;
}

.img-contact {
    display: flex;
    gap: 60px;
}


/* projetos */
article > section {
    display: flex;
    padding: 150px 60px 100px 60px;
    gap: 300px;
}

.project-number {
    display: flex;
    gap: 10px;
}

.project-number img {
    padding-bottom: 14px;
}

.project-number > h2 {
    color: #fff;
    font-size: 64px;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.project-text > h2, h4 {
    color: #fff;
}

.project-text > h2 {
    font-size: 64px;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.project-text > h4 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.print-project img {
    width: 700px;
    height: auto;
}

/* botao */
button {
    display: inline-block;
    padding: 10px 30px; 
    border: 0.1em solid #fff;
    margin: 2em 0.3em 0.3em 0;
    background-color: rgb(0, 0, 0, 0);
    box-sizing: border-box;
    
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
  
    color: #fff;
    text-align: center;
    transition: all 0.3s;
}
  
button:hover {
    color: #000;
    background-color: #fff;
}

footer{
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 600px;
    height: 200px;
    background-image: url(/src/img/fundo-abstrato-tinta-mascararondas-azuis.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer > h1 {
    color: #fff;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-size: 64px;
}

